


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/amanda-goodrick-1.jpg" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-1.jpg" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-2.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-2.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-3.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-3.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-4.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-4.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-5.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-5.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-7.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-7.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/amanda-goodrick-8.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-8.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-9.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-9.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-10.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-10.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-11.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-11.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-12.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-12.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/amanda-goodrick-13.png" data-toggle="lightbox" data-gallery="amanda-goodrick"> -->
        <img class="img-responsive student-work" src="images/student-works/amanda-goodrick-13.png" alt="student portfolio Amanda Goodrick"/>
      <!-- </a> -->
    </div>
