


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/brittany-king-1.png" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-1.png" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-2.png" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-2.png" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-3.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-3.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-4.png" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-4.png" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-5.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-5.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-6.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-6.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-7.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-7.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-8.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-8.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/brittany-king-9.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-9.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-10.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-10.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-11.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-11.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-12.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-12.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-13.png" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-13.png" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-14.png" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-14.png" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-15.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-15.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/brittany-king-16.jpg" data-toggle="lightbox" data-gallery="brittany-king"> -->
        <img class="img-responsive student-work" src="images/student-works/brittany-king-16.jpg" alt="student portfolio Brittany King"/>
      <!-- </a> -->
    </div>
