<nav class="navbar navbar-fixed-top bottom-border" role="navigation">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-lg-offset-6 col-md-offset-6 no-col-padding">
              <div class="social top-border right-border"><a href="https://www.facebook.com/NICIMG/" target="_blank"><i class="fa fa-facebook"></i></a></div>
              <div class="social top-border right-border"><a href="https://twitter.com/NIC_first" target="_blank"><i class="fa fa-twitter"></i></a></div>
              <div class="nav-item top-border right-border how-we-made-this"><a href="how-we-made-this.html">HOW WE MADE THIS</a></div>
              <div class="nav-item top-border right-border what-we-do left-border"><a href="index.html">WHAT WE DO</a></div>
            </div>
          </div>
          <div class="row">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive"> <span class="navbar-brand-words">INTERACTIVE MEDIA</span></a>
            <div class="col-md-6 col-lg-6 col-lg-offset-6 col-md-offset-6 no-col-padding">
              <div class="social top-border right-border no-bottom"><a href="https://vimeo.com/nicimg" target="_blank"><i class="fa fa-vimeo-square"></i></a></div>
              <div class="social top-border right-border no-bottom"><a href="https://www.pinterest.com/nicinteractivemedia/" target="_blank"><i class="fa fa-pinterest"></i></a></div>
              <div class="dropdown nav-item top-border right-border no-bottom resources">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  RESOURCES<i class="blue-icon fa fa-chevron-down"></i>
                </a>
              <ul class="dropdown-menu">
                <li class="list-nav-item top-border current-students">
                  <a href="current-students.html">CURRENT STUDENTS</a>
                </li>
                <li class="list-nav-item alumni">
                  <a href="https://www.facebook.com/groups/1409986189058654/" target="_blank">ALUMNI  <i class="fa fa-facebook small-icon"></i></a>
                </li>
              </ul>
              </div>
              <div class="dropdown nav-item top-border right-border no-bottom who-we-are left-border">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   WHO WE ARE<i class="blue-icon fa fa-chevron-down"></i>
                 </a>
               <ul class="dropdown-menu">
                 <li class="list-nav-item top-border faculty">
                   <a href="faculty.html">FACULTY</a>
                 </li>
                 <li class="list-nav-item students-alumni">
                   <a href="students-alumni.html">STUDENTS / ALUMNI</a>
                 </li>
               </ul>
             </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</nav>
