


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/dominic-yarmie-1.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-1.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-2.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-2.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-3.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-3.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-4.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-4.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-5.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-5.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-6.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-6.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/dominic-yarmie-7.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-7.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-8.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-8.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-9.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-9.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-10.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-10.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-11.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-11.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/dominic-yarmie-12.png" data-toggle="lightbox" data-gallery="dominic-yarmie"> -->
        <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-12.png" alt="student portfolio Dominic Yarmie"/>
      <!-- </a> -->
    </div>
