


    <div class="col-xs-6 student-work-container">
     <!-- <a href="images/student-works/gregory-tinga-1.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-1.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-2.jpg" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-2.jpg" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-3.jpg" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-3.jpg" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-4.jpg" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-4.jpg" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-5.jpg" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-5.jpg" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-6.jpg" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-6.jpg" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-7.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-7.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-8.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-8.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-9.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-9.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/gregory-tinga-10.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-10.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-11.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-11.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-12.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-12.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-13.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-13.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-14.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-14.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-15.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-15.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-16.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-16.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/gregory-tinga-17.png" data-toggle="lightbox" data-gallery="gregory-tinga"> -->
        <img class="img-responsive student-work" src="images/student-works/gregory-tinga-17.png" alt="student portfolio Gregory Tinga"/>
      <!-- </a> -->
    </div>
