


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/ian-quinn-1.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-1.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-2.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-2.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-3.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-3.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-4.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-4.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-5.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-5.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/ian-quinn-6.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-6.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-7.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-7.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-8.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-8.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/ian-quinn-9.jpg" data-toggle="lightbox" data-gallery="ian-quinn"> -->
        <img class="img-responsive student-work" src="images/student-works/ian-quinn-9.jpg" alt="student portfolio Ian Quinn"/>
      <!-- </a> -->
    </div>
