


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/krista-mcallister-1.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-1.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-2.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-2.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-3.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-3.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-4.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-4.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-5.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-5.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-6.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-6.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-7.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-7.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-8.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-8.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
   <!-- <a href="images/student-works/krista-mcallister-9.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-9.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-10.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-10.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-11.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-11.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-12.png" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-12.png" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-13.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-13.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-14.png" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-14.png" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/krista-mcallister-15.jpg" data-toggle="lightbox" data-gallery="krista-mcallister"> -->
        <img class="img-responsive student-work" src="images/student-works/krista-mcallister-15.jpg" alt="student portfolio Krista McAllister"/>
      <!-- </a> -->
    </div>
