


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/lindsey-benson-1.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-1.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-2.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-2.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-3.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-3.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-4.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-4.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-5.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-5.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
     <!-- <a href="images/student-works/lindsey-benson-6.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-6.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-7.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-7.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-8.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-8.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lindsey-benson-9.jpg" data-toggle="lightbox" data-gallery="lindsey-benson"> -->
        <img class="img-responsive student-work" src="images/student-works/lindsey-benson-9.jpg" alt="student portfolio Lindsey Benson"/>
      <!-- </a> -->
    </div>
