


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/lucas-storti-1.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-1.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-2.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-2.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-3.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-3.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-4.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-4.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/lucas-storti-5.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-5.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-6.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-6.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-7.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-7.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/lucas-storti-8.png" data-toggle="lightbox" data-gallery="lucas-storti"> -->
        <img class="img-responsive student-work" src="images/student-works/lucas-storti-8.png" alt="student portfolio Lucas Storti"/>
      <!-- </a> -->
    </div>
