


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/matt-boucher-1.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-1.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-2.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-2.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-3.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-3.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-4.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-4.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-5.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-5.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-6.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-6.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-7.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-7.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-8.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-8.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-9.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-9.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-10.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-10.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-11.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-11.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-12.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-12.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/matt-boucher-13.jpg" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-13.jpg" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-14.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-14.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-15.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-15.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-16.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-16.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-17.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-17.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-18.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-18.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-19.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-19.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-20.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-20.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-21.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-21.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-22.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-22.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/matt-boucher-23.png" data-toggle="lightbox" data-gallery="matt-boucher"> -->
        <img class="img-responsive student-work" src="images/student-works/matt-boucher-23.png" alt="student portfolio Matt Boucher"/>
      <!-- </a> -->
    </div>
