<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-md-offset-6 no-col-padding">
        <div class="social top-border right-border"><a href="https://www.facebook.com/NICIMG/" target="_blank"><i class="fa fa-facebook"></i></a></div>
        <div class="social top-border right-border left-border"><a href="https://twitter.com/NIC_first" target="_blank"><i class="fa fa-twitter"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 no-col-padding">
        <div class="social top-border right-border"><a href="https://vimeo.com/nicimg" target="_blank"><i class="fa fa-vimeo-square"></i></a></div>
        <div class="social top-border right-border left-border"><a href="https://www.pinterest.com/nicinteractivemedia/" target="_blank"><i class="fa fa-pinterest"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 no-col-padding text-center">
        <div class="nav-item top-border right-border what-we-do"><a href="index.html">WHAT WE DO</a></div>
      </div>
      <div class="col-xs-6 no-col-padding text-center">
        <div class="nav-item top-border right-border how-we-made-this"><a href="how-we-made-this.html">HOW WE MADE THIS</a></div>
      </div>
    </div>
    <div class="row">
      <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive"> <span class="navbar-brand-words">INTERACTIVE MEDIA</span></a>
      <div class="col-xs-6 no-col-padding text-center">
        <div class="dropdown nav-item top-border right-border who-we-are">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WHO WE ARE <br /><i class="blue-icon fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li class="list-nav-item faculty top-border">
              <a href="faculty.html">FACULTY</a>
            </li>
            <li class="list-nav-item students-alumni">
              <a href="students-alumni.html">STUDENTS / ALUMNI</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 no-col-padding text-center">
        <div class="dropdown nav-item top-border right-border resources">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESOURCES <br /><i class="blue-icon fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li class="list-nav-item current-students top-border">
              <a href="current-students.html">CURRENT STUDENTS</a>
            </li>
            <li class="list-nav-item alumni">
              <a href="https://www.facebook.com/groups/1409986189058654/" target="_blank">ALUMNI  <i class="fa fa-facebook small-icon"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
