


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/park-hargrave-1" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-1.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/park-hargrave-2" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-2.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/park-hargrave-3" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-3.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/park-hargrave-4" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-4.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
     <!-- <a href="images/student-works/park-hargrave-5" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-5.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/park-hargrave-6" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-6.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/park-hargrave-7" data-toggle="lightbox" data-gallery="park-hargrave"> -->
        <img class="img-responsive student-work" src="images/student-works/park-hargrave-7.png" alt="student portfolio Park Hargrave"/>
      <!-- </a> -->
    </div>
