


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/sid-parmar-1.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-1.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-2.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-2.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-3.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-3.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-4.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-4.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-5.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-5.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
     <!-- <a href="images/student-works/sid-parmar-6.jpg" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-6.jpg" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-7.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-7.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-8.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-8.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/sid-parmar-9.png" data-toggle="lightbox" data-gallery="sid-parmar"> -->
        <img class="img-responsive student-work" src="images/student-works/sid-parmar-9.png" alt="student portfolio Sid Parmar"/>
      <!-- </a> -->
    </div>
