


    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/taylor-leach-1.jpg" data-toggle="lightbox" data-gallery="taylor-leach"> -->
        <img class="img-responsive student-work" src="images/student-works/taylor-leach-1.jpg" alt="student portfolio Taylor Leach"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/taylor-leach-2.jpg" data-toggle="lightbox" data-gallery="taylor-leach"> -->
        <img class="img-responsive student-work" src="images/student-works/taylor-leach-2.jpg" alt="student portfolio Taylor Leach"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/taylor-leach-3.jpg" data-toggle="lightbox" data-gallery="taylor-leach"> -->
        <img class="img-responsive student-work" src="images/student-works/taylor-leach-3.jpg" alt="student portfolio Taylor Leach"/>
      <!-- </a> -->
    </div>
    <div class="col-xs-6 student-work-container">
      <!-- <a href="images/student-works/taylor-leach-4.jpg" data-toggle="lightbox" data-gallery="taylor-leach"> -->
        <img class="img-responsive student-work" src="images/student-works/taylor-leach-4.jpg" alt="student portfolio Taylor Leach"/>
      <!-- </a> -->
      <!-- <a href="images/student-works/taylor-leach-5.jpg" data-toggle="lightbox" data-gallery="taylor-leach"> -->
        <img class="img-responsive student-work" src="images/student-works/taylor-leach-5.jpg" alt="student portfolio Taylor Leach"/>
      <!-- </a> -->
    </div>
