$light_blue: #4faddd;
$light_blue_hover: #499db7;

$lightest_blue: #82cee0;
$lightest_blue_hover: #6ab5c6;

$dark_blue: #377ab7;
$dark_blue_hover: #306f96;
$dark_grayblue: #5e9dac;

$light-yellow: #f7f126;
$dark_yellow: #f1d242;

$light_green: #5ac280;
$dark_green: #51a86e;
$dark_graygreen: #93a048;

$light_red: #ee4037;
$dark_red: #cf5135;

$white: #ffffff;

$black: #000000;

$light_gray: #e7e7e7;
$dark_gray: gray;
