$font_sans: 'Overpass', sans-serif;
$font_serif: 'Crimson Text', serif;

/* Font weights available in Crimson Text */
$serif_regular: 400;
$serif_bold: 600;

/* Font weights available in Overpass */
$sans_light: 300;
$sans_regular: 400;
$sans_bold: 600;
$sans_extrabold: 800;

/* Borders */
$border: 1px solid $light_gray;

/* Transitions */
$standard-transition: 0.8s;
