
@media (max-width: 767px){
  .fixed-column {
    position:inherit;
  }

  .faq-container .empty-panel.faq-panel {
    height: 300px;
  }

  fixed-column {
    display: block;
  }

  .slide-modal {
    padding-bottom: 260px;
  }
}
